<config>
    <modules>
        <OpenMage_KittedProduct>
            <version>0.0.1</version>
        </OpenMage_KittedProduct>
    </modules>
    <global>
        <helpers>
            <OpenMage_KittedProduct>
                <class>OpenMage_KittedProduct_Helper</class>
            </OpenMage_KittedProduct>
        </helpers>
        <models>
            <OpenMage_KittedProduct>
                <class>OpenMage_KittedProduct_Model</class>
                <resourceModel>OpenMage_KittedProduct_Resource</resourceModel>
            </OpenMage_KittedProduct>
            <OpenMage_KittedProduct_Resource>
                <class>OpenMage_KittedProduct_Resource</class>
            </OpenMage_KittedProduct_Resource>
        </models>
        <resources>
            <OpenMage_KittedProduct>
                <setup>
                    <module>OpenMage_KittedProduct</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </OpenMage_KittedProduct>
        </resources>
        <catalog>
            <product>
                <type>
                    <om_kitted translate="label" module="OpenMage_KittedProduct">
                        <label>Kitted Product</label>
                        <model>OpenMage_KittedProduct/Product_Type</model>
                        <price_model>OpenMage_KittedProduct/Product_Price</price_model>
                        <composite>1</composite>
                        <allow_product_types>
                            <simple/>
                        </allow_product_types>
                        <index_priority>60</index_priority>
                        <price_indexer>OpenMage_KittedProduct/Indexer_Price</price_indexer>
                        <stock_indexer>OpenMage_KittedProduct/Indexer_Stock</stock_indexer>
                        <index_data_retreiver>OpenMage_KittedProduct/CatalogIndex_Data_Retriever</index_data_retreiver>
                    </om_kitted>
                </type>
            </product>
        </catalog>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <OpenMage_KittedProduct>
                        <class>OpenMage_KittedProduct/Product_Observer</class>
                        <method>afterAddToQuote</method>
                    </OpenMage_KittedProduct>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </global>
    <adminhtml>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <kitted/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <OpenMage_KittedProduct>
                    <file>OpenMage_KittedProduct.xml</file>
                </OpenMage_KittedProduct>
            </updates>
        </layout>
    </adminhtml>
</config>
